@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;
}

.cairo {
  font-family: var(--font-cairo);
}
.audiowide {
  font-family: var(--font-audiowide);
}

/* From Uiverse.io by vinodjangid07 */

.Btn {
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    #83221f,
    #83221f,
    rgb(78, 17, 17),
    #83221f,
    #83221f,
    rgb(78, 17, 17)
  );
  background-size: 250%;
  background-position: left;
  color: #ffffff;
  text-shadow: 2px 2px 2px black;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* transition-duration: 0.6s; */
  overflow: hidden;
  animation: animateBtn 3s linear infinite;
  border: 1px solid white;
}

.Btn::before {
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 97%;
  height: 90%; */
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgb(84, 24, 24);
  background-size: 200%;
}

.Btn:hover {
  background-position: right;
  transition-duration: 0.3s;
  transform: scale(1.03);
}

.Btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.Btn:active {
  transform: scale(0.95);
}

@keyframes animateBtn {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.speakersAnimation {
  animation: speakersAnimate 1s ease-in infinite alternate;
}

@keyframes speakersAnimate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
